*{
    margin: 0;
    padding:0; 
    font-family: "Roboto";  
}

@font-face {
    font-family: "Roboto-Bold"; 
    src: url("../fonts/Roboto-Bold.ttf") format("truetype"); 
  
    font-style: normal; 
    font-weight: normal; 
    } 
@font-face {
    font-family: "Roboto-Thin"; 
    src: url("../fonts/Roboto-Thin.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
.wrapper{
    width: 960px;
    margin: 100px auto;
    border: 2px solid  #3d3d3d;
    border-radius:3px;
    background-color:  #e8edee;
}
.foto{
  
    display: block;
    margin: 50px auto;
    border-radius: 50%;
    box-shadow:   0 0 20px 6px  #6b6868;
    border: 20px solid #ffffff;
    border-top-color: #a7a4a4;
    border-bottom-color:#a7a4a4;        
}
h3{
    
    font-family: "Roboto-Bold";
    font-size: 30px;
    color:#525050;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 30px;
    text-align:center;
}
p{
    font-family: "Roboto-Thin";
    line-height: 30px;
    text-align:center;
    margin: 20px 100px;
}
.skills{
   width: 90%;
   background-color: #3d3d3d;
   margin:0 auto;
   
}
.skills h4{
    font-size: 24px;
    display:block;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    text-align:center;
    color: #fff;
    padding: 6px;
}
.skills_white_one h4,
.skills_white_two h4{
    font-size: 14px;
    display:block;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    text-align:left;
    color: #3d3d3d;
    padding: 6px;
    margin-left: 20px;
}

.skills_gray_one h4,
.skills_gray_two h4{
    font-size: 14px;
    display:block;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    text-align:left;
    color: #3d3d3d;
    padding: 6px;
    margin-left: 20px;
}
.skills_now h4,
.skills_soon h4{
    color: #3d3d3d;
}
.skills_now {
    width: 49.8%;
    float: left;
    border-right: 1px solid #3d3d3d;
    }
.skills_soon{
      width: 49.9%;
      float: left;
      border-left: 1px solid #3d3d3d;
  }



.skills_one {
    width: 90%;
    margin: 0 auto;
 }
 
.skills_white_one{
    width: 49.8%;
    float: left;
    background-color: #a7a4a4;
    border-right: 1px solid #3d3d3d;

}
.skills_white_two{
    width: 49.9%;
    float: left;
    background-color: #a7a4a4;
    border-left: 1px solid #3d3d3d;

}
.skills_two {
    width: 90%;
    margin:0 auto; 
 }
 


.skills_gray_one{
    width: 49.8%;
    float: left;
  
    border-right: 1px solid #3d3d3d;

}
.skills_gray_two{
    width: 49.9%;
    float: left;
   
    border-left: 1px solid #3d3d3d;

}

hr{
    width: 100%;
margin: 0 auto;
    background-color:#3d3d3d;
    height: 2px;
    border:none;

}


